
#admin-link {float:right; margin-right:20px;}
#admin-link a {font-weight:normal; font-size:10px;}
#header h1 {text-align:right; padding-right:20px; padding-top:75px;}
#header h1 a:hover {text-decoration:none;}
.admin-page-link {border-right:1px solid #ccc; padding-right:10px; margin-right:8px;}

/*FORMS*/
.form-field {padding-bottom:15px;}
input#remember_me {width:20px;}
label {font-weight:bold;}
.form-price-wrapper {border:1px dotted #666; padding:10px}
#add-new-price {border:1px solid #cccccc; margin:10px 0; padding:5px; float:left;}
.form-actions {clear:left;}

/*ERRORS*/
div#error-explanation {border: 1px solid #fe5454; padding:5px; margin-bottom:10px; font-weight:bold; background-color:#ffcaca; color:#fe5454;}
div.field_with_errors input {border:1px solid #f35454;}
div.field_with_errors label {color:#f35454;}

/*FLASH*/
div.flash {border: 1px solid; padding:5px; margin-bottom:10px; font-weight:bold;}
div.flash.error {border-color:#fe5454; background-color:#ffcaca; color:#fe5454;}
div.flash.success {border-color:#2774dc; background-color:#9bb7dc; color:#2774dc;}

/*SELL LISTS*/
#sell-list {width:100%}
#sell-list td {vertical-align:top;}
#sell-list .scott_number {text-align:right; font-weight:bold;}
#sell-list ul.item-prices {margin:0; padding:0; list-style:none;}
#sell-list td.description {font-style:italic; width:65%;}
#sell-list span.price {font-weight:bold;}

/*BUY LISTS*/
table#buy-list {width:100%;}
table#buy-list .item {text-align:right;}
table#buy-list .price {text-align:left; border-right:1px solid #d8d8d8;}