%p For years I have been collecting stamps and suddenly I have realized that the house is full and I need to sell some of those pieces of paper that were so much fun to collect. Too many stamps were collected as I became more of an accumulator than a collector being so unable to resist bargains. The excuse was that I would be a dealer on retirement. Retirement is here. A daughter has grown and is a stay at home mom and needs a home-based business and a son-in-law is an expert at web building. So there are now no excuses to launch the stamp business.
%p It is our goal to sell the highest quality stamps, those that meet the description Post Office Fresh. Initially we won't have every issue you need, but with the buy lists we will be expanding our inventory. We want to become the dealer you go to first to fill in those empty spaces because our quality is high, we deliver quickly, and the price is most always the lowest.
%p We will first be listing a selection of Canada, Israel, DDR, and Yugoslavia. We will also be listing singles and sets we have from other countries as quickly as time permits. If you do not see a listing for the country, try the region or continent, and the stamp you are looking for might just be there. Initially, I foresee that we will be concentrating in these countries: Canada, China (People’s Republic), France, Netherlands, DDR, Germany, UN, and US. We have a large selection of Brazil, Poland, and Japan but these will be listed under their respective regions: Latin America, Europe, and Asia.
%p Daughter Bobbi will be handling most of the orders, while father Richard will be doing data entry and purchasing. Richard is member 073690 of the American Philatelic Society.
%p 
  The site is set up with a shopping cart so you can use pay pal. If you have any questions, please 
  %a{:href => 'mailto:store@sampsonstamps.com'} e-mail
  us.
%p Please have fun looking thru the site, and I hope you find stamps to purchase.
%p Yours truly, Richard and Bobbi.