%table
  %thead
    %tr
      %th Order Amount
      %th Shipping & Handling Costs
  %tbody
    %tr 
      %td Under $25
      %td $3.00
    %tr 
      %td $25 - $50
      %td 
        $2.50 (includes delivery confirmation)
    %tr
      %td $50 - $100
      %td 
        $1.50  (includes delivery confirmation)
    %tr 
      %td $100 - $500
      %td Postpaid (includes delivery confirmation and insurance)
%p *Shipping to Canada is an additional $1.00
%p *International shipping is an additional $2.00
    
  