%table
  %thead
    %tr
      %th Order Amount
      %th Shipping & Handling Costs
  %tbody
    %tr 
      %td Under $25
      %td $3.00 plus 80 cents for delivery confirmation if desired
    %tr 
      %td $25 - $50
      %td 
        $2.50 (includes delivery confirmation)
        %br Include $1.00 for insurance if desired
    %tr
      %td $50 - $100
      %td 
        $1.50  (includes delivery confirmation)
        %br Include $1.00 for insurance if desired 
    %tr 
      %td $100 - $500
      %td Postpaid (includes delivery confirmation and insurance)
    %tr
      %td $500+
      %td 
        Postpaid (includes delivery confirmation and insurance)
        %br
        %strong Take 5% discount
    
  