%div#blurb
  %p Currently to broaden our inventory, we are looking for hundreds of common sets.  Please review these buy lists to see if our offers are acceptable.  If we are offering to buy singles and sets for 10 cents or less, we are generally able to purchase up to 50 sets.  If we are offering to buy singles and sets for 25 cents or less, we are generally able to purchase up to 20 sets.  If we are offering to buy singles and sets for $1 or less we are generally able to purchase up to 10 sets.  If we are offering to buy singles and sets for $10 or less we are generally able to purchase up to 5 sets.
  %p All stamps must be Very Fine MNH Post Office Fresh. We cannot use substandard stamps and they will be returned at owner’s expense.  Please package the stamps so that damage in transit is avoided.  Please itemize your stamps and provide a total price.
  %p Regularly check our buy list. Please realize that when our needs are met, we can no longer accept your stamps. If stamps are sent to us after date deletions from our buy list are made, stamps will be returned at owner’s expense.
  %p 
    All stamps must be mailed to our Anchorage address:  
    %strong Richard Sampson, 2714 Telequana Drive, Anchorage, Alaska 99517.  
    Do not mail stamps to our Fairbanks address.  Please include e-mail address in your correspondence. Payment will be mailed by check. Please expect payment in five business days from our receipt of your stamps.
  %p I am a member of American Philatelic Society (APS #  73690) so you can send your stamps in confidence. Please insure stamps as you deem necessary because we cannot be responsible for stamps lost in the mail.
%table#buy-list
  %thead
    %tr
      - (1..4).each do
        %th.item Item
        %th.price Price
  %tbody
    - @scott_numbers_sorted.in_groups_of(4, false).each do |row|
      %tr
        - row.each do |scott_number|
          - item = @country.items.find_by_scott_number(scott_number)
          %td.item= (current_user && current_user.admin) ? link_to(item.scott_number, edit_item_path(item.id)) : item.scott_number
          %td.price= number_to_currency(item.prices.buy.first.price)